@model Projeto.Presentation.Models.UsuarioAutenticarViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Autenticar</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="container">
    <div> 

        <h2>Login</h2>
        <a href="/Home/Index">Página inicial</a>
        <hr/>

        @using (Html.BeginForm("AutenticarUsuario", "Usuario", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-4">

                    <label>Email de Acesso:</label>
                    @Html.TextBoxFor(model => model.Email,
                        new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Email)
                    </span>
                    <br/>

                    <label>Senha de Acesso:</label>
                    @Html.PasswordFor(model => model.Senha,
                        new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Senha)
                    </span>
                    <br />

                    <input type="submit" value="Login Usuário" style="background-color: #4e73df;border-color:black"
                           class="btn btn-success"/>
                    <br />
                    <br />

                    @ViewBag.Mensagem

                </div>
            </div>
        }

    </div>
</body>
</html>
