@model Projeto.Presentation.Models.ContatoCadastroViewModel

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastro</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Scripts/scss/main.css" rel="stylesheet" />
    <link href="~/Scripts/scss/skin.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/script/index.js"></script>
    
</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+21 1111 1111</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">spdfprojeto@gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>


    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
                    <a class="navbar-brand" href="#">
                        <h1>SPDS</h1><span>Pesquisa e Satisfação</span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Home/Index" ">Home</a></li>
                        @*<li><a href="features.html">Features</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>*@
                        @*<li><a href="/Questionario/CriarQuestionario">Questionário</a></li>*@
                            <li><a href="/Contato/Contato">Contato</a></li>
                        <li><a href="/ClienteEmpresa/Autenticar">Login</a></li>
                        <li><a href="/ClienteEmpresa/CriarConta"> Cadastro</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <!--/.nav-ends -->
    </header>

    <section id="top_banner" tyle="padding: 140px 30px">
        <div class="banner">
            <div class="inner text-center">

                <h2></h2>
            </div>
        </div>
    </section>

   <div>
       <p> 

    <a style="font-size:20px">📍 Endereço fictício
    Av Presidente Vargas, 4555 - Centro</a><br />
           <a style="font-size:20px"> Quer falar conosco?
               📩 contato@spds.com.br
           </a><br />
           <a style="font-size:20px">
               Ligue
               📞 21 97278-0000
           </a><br />

           <a style="font-size:20px">
               Caso tenha dúvida, por favor nos mande uma mensagem que responderemos em breve.
           </a><br />

             

             
</p>
   </div>

  
    @using (Html.BeginForm("CadastrarContato", "Contato", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-4">

                <label>Nome do Usuário</label>
                @Html.TextBoxFor(model => model.Nome,
                        new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Nome)
                </span>
                <br />

                <label>Email</label>
                @Html.TextBoxFor(model => model.Email,
                        new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Email)
                </span>
                <br />

                <label>Mensagem</label>
                @Html.TextBoxFor(model => model.Mensagem,
                        new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.Mensagem)
                </span>
                <br />

                @*<label>Estado</label>
                @Html.TextBoxFor(model => model.DataCriacao,
                        new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(model => model.DataCriacao)
                </span>
                <br />*@

                <input type="submit" value="Enviar Mensagem" style="background-color: #4e73df;border-color:black"
                       class="btn btn-success btn-lg" />
                <br />
                <br />

                @ViewBag.Mensagem

            </div>
        </div>
    }

    @*aqui*@ 
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">

                </div>
            </div>
        </div>


    </section>

    <section id="bottom-footer"></section>
    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">

            </div>

        </div>
        @*<a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>*@
    </div>

</body>

</html>