@model List<Projeto.Presentation.Areas.AreaRestrita.Models.RelatorioViewModel>
@{
    ViewBag.Title = "Relatorio";
    Layout = "~/Areas/AreaRestrita/Views/Shared/Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Relatório</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Scripts/scss/main.css" rel="stylesheet" />
    <link href="~/Scripts/scss/skin.css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
      
    <script src="~/Areas/AreaRestrita/Vendor/jquery/Script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/script/index.js"></script>
</head>



<body id="wrapper">
    <section id="top-header" >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+21 1111 1111</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">spdfprojeto@gmail.com</a></li>
                    </ul>
                </div>
                @*<div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="social_links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>*@
            </div>
        </div>

    </section>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
                    <a class="navbar-brand" href="#">
                        <h1>SPDS</h1><span>Pesquisa e Satisfação</span>
                    </a>
                </div>

                <!--/.nav-collapse -->
            </div>
        </nav>

        <!--/.nav-ends -->
    </header>
    <section id="top_banner" style="padding: 140px 30px">
        <div class="col-md-6 text-right">
            <a href="/Relatorio/RelatorioPDF" style="background-color:#159eee" class="btn btn-success">
                Baixar Relatório
            </a>
        </div>
    </section>

    <a href="/AreaRestrita/Principal" style="background-color:#159eee" class="btn btn-success">
        Voltar para a página inicial
    </a>
    <br /><br />
  
    
    <h2>Questionários</h2>
    <table class="table table-bordered" id="tabela">
        <thead>
            <!-- cabeçalho -->
            <tr>
            
                <!-- linha -->
                <th>IdQuestionario:</th>
                <th>Email:<input type="text" id="txtColuna2" /></th>
                <th>Cpf:<input type="text" id="txtColuna3" /></th>
                <th>Data:<input type="text" id="txtColuna4" /></th>
                <th>Questão 1</th>
                <th>Questão 2</th>
                <th>Questão 3</th>
                <th>Questão 4</th>
                <th>Questão 5</th>
                <th>Questão 6 </th>
                <th>Questão 7 </th>
            </tr>
        </thead>
        <tbody>
            <!-- corpo -->

            @foreach (var q in Model)
            {
                <tr>
                    <!-- linha -->
                    @*<td> @q.IdClienteQuestionario </td>*@
                    <td> @q.IdClienteQuestionario </td>
                    <td> @q.Email </td>
                    <td> @q.Cpf </td>
                    <td> @q.DataCriacao </td>
                    <td> @q.Questao1 </td>
                    <td> @q.Questao2 </td>
                    <td> @q.Questao3 </td>
                    <td> @q.Questao4 </td>
                    <td> @q.Questao5 </td>
                    <td> @q.Questao6 </td>
                    <td> @q.Questao7 </td>
                    <td>

                        <a href="/AreaRestrita/Relatorio/Edicao?id=@q.IdClienteQuestionario"
                           class="btn btn-primary" style="color: #fff;
    background-color: #007bff;
    border-color: #007bff;    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 2.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">
                            Atualizar
                        </a>

                        <a href="/AreaRestrita/Relatorio/Exclusao?id=@q.IdClienteQuestionario"
                           class="btn btn-danger">
                            Excluir
                        </a>

                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    Quantidade de Questionários: @Model.Count
                </td>
            </tr>
        </tfoot>
    </table>

    <section id="bottom-footer" style="padding: 70px 10px; "></section>
    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">

            </div>

        </div>
        @*<a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>*@
    </div>
</body>
</html>
